In [2]:
import requests as req
from bs4 import BeautifulSoup
import numpy as np
from tqdm import tqdm
import pandas as pd

### Creating NCAA stats dataframe

In [11]:
classes=['Fr','So','Jr','Sr']
years=np.arange(2003,2025,1)
columns=['player','cls','year','gp','mpg','ppg','fgm','fga','fg%','3pm','3pa','3p%','ftm','fta','ft%','orb',
        'drb','rpg','apg','spg','bpg','tov','pf']

In [12]:
table=[]
for year in tqdm(years):
    for cls in classes:
        for page in range(1,4):
            try:
                url=f'https://basketball.realgm.com/ncaa/stats/{year}/Averages/Qualified/{cls}/Season/All/points/desc/{page}'
                r=req.get(url)
                soup=BeautifulSoup(r.text)
                for i in range(1,31):
                    row=[str(soup.find_all('tr')[i]).split('</td>')[1].split('>')[-2][:-3],cls,year]
                    for j in range(3,23):
                        row.append(str(soup.find_all('tr')[i]).split('</td>')[j][4:])
                    table.append(row)
            except:
                print('error: '+url)
                pass

100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [15:48<00:00, 43.13s/it]

In [13]:
df=pd.DataFrame(table,columns=columns)

In [7]:
df

,player,cls,year,gp,mpg,ppg,fgm,fga,fg%,3pm,...,fta,ft%,orb,drb,rpg,apg,spg,bpg,tov,pf
0,Kee-Kee Clark,Fr,2003,29,38.2,24.9,8.0,20.1,0.396,3.8,...,6.1,0.853,0.8,2.4,3.3,4.2,1.4,0.2,4.0,1.9
1,Carmelo Anthony,Fr,2003,35,36.4,22.2,7.9,17.5,0.453,1.6,...,6.8,0.706,2.9,6.9,9.7,2.2,1.5,0.9,2.2,2.2
2,Darshan Luckey,Fr,2003,28,37.5,21.6,7.2,18.8,0.383,1.6,...,7.2,0.777,0.8,4.4,5.1,1.6,1.7,0.3,4.1,2.3
3,Craig Smith,Fr,2003,31,31.9,19.9,7.8,12.9,0.603,0.1,...,6.3,0.677,3.2,4.7,7.9,1.3,0.9,0.9,2.4,3.4
4,Ike Diogu,Fr,2003,32,32.2,19.0,6.6,10.8,0.609,0.3,...,7.7,0.735,3.1,4.8,7.8,0.8,0.3,1.0,2.8,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,Gerald Drumgoole,Sr,2024,33,28.5,13.9,4.7,10.8,0.433,2.3,...,3.5,0.643,0.6,3.1,3.8,2.4,0.4,0.2,1.5,1.5
7916,Jestin Porter,Sr,2024,33,31.8,13.9,5.0,12.5,0.399,1.8,...,2.7,0.775,0.8,2.5,3.3,1.8,1.0,0.2,2.2,1.9
7917,Aaron Clarke,Sr,2024,31,33.1,13.9,4.9,12.0,0.411,2.0,...,2.6,0.775,0.4,3.2,3.5,3.0,0.7,0.1,1.3,1.5
7918,Brycen Goodine,Sr,2024,31,25.9,13.9,4.9,9.8,0.498,2.5,...,2.2,0.761,0.8,2.2,3.0,1.4,0.8,0.3,1.5,2.0
7919,Ben Krikke,Sr,2024,33,28.7,13.8,5.5,10.0,0.547,0.2,...,3.7,0.746,1.6,3.2,4.8,1.4,0.9,0.3,1.1,2.4

### Creating NBA drafts dataframe

In [58]:
years=np.arange(2004,2005,1)

In [72]:
table=[]
for year in years:
    try:
        url=f'https://basketball.realgm.com/nba/draft/past_drafts/{year}'
        r=req.get(url)
        soup=BeautifulSoup(r.text)
        for i in tqdm(range(1,31)):
            name=str(soup.find_all('table')[13].find_all('tr')[i].find_all('td')[1]).split('">')[0].split('rel="')[1]
            name=name.split(', ')
            name=name[1]+' '+name[0]
            print(name)
    except:
        print('error: '+url,i)
        pass

 87%|██████████████████████████████████████████████████████████████████████▏          | 26/30 [00:00<00:00, 127.85it/s]

Anderson Varejao
Jackson Vroman
Peter John Ramos
Lionel Chalmers
Donta Smith
Andre Emmett
Antonio Burks
Royal Ivey
Chris Duhon
Albert Miralles
Justin Reed
David Young
Viktor Sanikidze
Trevor Ariza
Tim Pickett
Bernard Robinson
Ha Seung-Jin
Pape Sow
Ricky Minard
Sergei Lishouk
Vassilis Spanoulis
Christian Drejer
Romain Sato
Matt Freije
Ricky Paulding
Luis Flores

100%|█████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 127.02it/s]

Marcus Douthit
Sergei Karaulov
Blake Stepp
Rashad Wright

In [57]:
soup.find_all('table')[13].find_all('tr')[28]

<tr>
<td rel="58" style="text-align: center;">58</td>
<td nowrap="" rel="Livingston, Chris"><a href="/player/Chris-Livingston/Summary/117541">Chris Livingston</a></td>
<td nowrap="" rel="MIL"><a href="/nba/teams/Milwaukee-Bucks/16/Home">MIL</a></td>
<td nowrap="" rel=""></td>
<td rel="6">F</td>
<td rel="78">6-6</td>
<td rel="220">220</td>
<td rel="7462">19</td>
<td rel="0">0</td>
<td rel="Kentucky"><a href="/ncaa/conferences/Southeastern-Conference/8/Kentucky/258">Kentucky</a></td>
<td nowrap="" rel="37462">Fr <a href="/nba/draft/early_entry/by_year/2023" style="text-decoration: none;">*</a></td>
<td nowrap="" rel="United States"><a href="/info/nationality/1/United-States/L">United States</a></td>
</tr>