In [118]:
import requests as req
from bs4 import BeautifulSoup
import numpy as np
from tqdm import tqdm
import pandas as pd

In [163]:
classes=['Fr','So','Jr','Sr']
years=np.arange(2003,2025,1)
columns=['player','cls','year','gp','mpg','ppg','fgm','fga','fg%','3pm','3pa','3p%','ftm','fta','ft%','orb',
        'drb','rpg','apg','spg','bpg','tov','pf']

In [138]:
table=[]
for year in tqdm(years):
    for cls in classes:
        url=f'https://basketball.realgm.com/ncaa/stats/{year}/Averages/Qualified/{cls}/Season/All/points/desc/1'
        r=req.get(url)
        soup=BeautifulSoup(r.text)
        for i in range(1,31):
            row=[str(soup.find_all('tr')[i]).split('</td>')[1].split('>')[-2][:-3],cls,year]
            for j in range(3,23):
                row.append(str(soup.find_all('tr')[i]).split('</td>')[j][4:])
            table.append(row)

100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [05:19<00:00, 14.53s/it]

In [164]:
df=pd.DataFrame(table,columns=columns)

In [178]:
df.loc[df['player']=='Austin Reaves']

,player,cls,year,gp,mpg,ppg,fgm,fga,fg%,3pm,...,fta,ft%,orb,drb,rpg,apg,spg,bpg,tov,pf
2275,Austin Reaves,Sr,2021,25,34.6,18.3,5.6,12.6,.443,1.3,...,6.8,.865,0.8,4.6,5.5,4.6,0.9,0.3,3.0,1.7